@page
@model BookShop.Web.Pages.BookModel
@{
    ViewBag.Title = "Könyv - " + Model.Book.Title;
}

<h1 class="display-4 one-row"><small>@Model.Book.Title</small></h1>

<div class="row">
    <div class="col-md-3">
        <img class="w-100 mb-2" src="images/books/covers/@(Model.Book.Id).jpg" alt="@Model.Book.Title" title="@Model.Book.Title" />
        <div class="d-flex justify-content-between align-items-center py-2">
            <h4>
                @( Model.Book.DiscountedPrice.HasValue ? Model.Book.DiscountedPrice : Model.Book.Price )&nbsp;Ft
            </h4>

            <form asp-page-handler="AddToCart">
                <button class="btn btn-outline-primary">Kosárba</button>
            </form>
        </div>
        <div class="text-center">
            <a asp-page="CreateComment" asp-route-bookId="@Model.Book.Id">Új ajánló írása &raquo;</a>
        </div>
    </div>

    <div class="col-md-9">
        @if (!String.IsNullOrWhiteSpace(Model.Book.Subtitle)) {
            <h3 class="one-row text-muted"><small>@Model.Book.Subtitle</small></h3>
        }
        <div class="d-flex justify-content-between">
            <div>
                <h4 class="one-row">
                    @if (Model.Book.AuthorNames == null || !Model.Book.AuthorNames.Any()) {
                        @:Nincs megadva
                    }
                    else {
                        foreach (var authorName in Model.Book.AuthorNames) {
                            <a>@authorName</a>
                        }
                    }
                </h4>

                <a asp-page="/Index" asp-route-publisherId="@Model.Book.PublisherId">
                    @Model.Book.PublisherName
                </a>
            </div>

            <div class="product-meta text-right">
                <span>Kiadás&nbsp;éve:&nbsp;@Model.Book.PublishYear.</span>
                <br />
                <span>Oldalszám:&nbsp;@Model.Book.PageNumber</span>
            </div>
        </div>


        <p class="py-2">@Model.Book.ShortDescription</p>
    </div>
</div>

<h3>Kommentek</h3>
@if (User.Identity.IsAuthenticated) {
    <form asp-page-handler="CreateComment">
        <input type="hidden" asp-for="NewComment.BookId" />
        <div class="d-flex">
            <div class="d-flex flex-column align-items-center flex-shrink-0 mr-3">
                <i class="fa fa-user"></i>
                <span>@Model.UserName</span>
                <span class="text-muted">@(DateTime.Now.ToShortDateString())</span>
                <span class="text-muted">@(DateTime.Now.ToShortTimeString())</span>
            </div>
        <textarea class="w-100" rows="4" asp-for="NewComment.Text"></textarea>
        </div>
        <div class="d-flex flex-row-reverse">
            <button type="submit" class="btn btn-outline-success my-md-2">Hozzászólok</button>
        </div>
    </form>
}
else {
    <div>Komment írásához be kell jelentkezned!</div>
}
<div >
    @foreach (var comment in Model.Comments) {
        <div class="d-flex my-4">
            <div class="d-flex flex-column align-items-center flex-shrink-0 mr-3">
                <i class="fa fa-user"></i>
                <span class="text-muted">@(comment.CreatedDate.ToShortDateString())</span>
                <span class="text-muted">@(comment.CreatedDate.ToShortTimeString())</span>
            </div>
            <div>@comment.Text</div>
        </div>
    }
</div>